<h1 class="text-center">My Books</h1>
<br />

<div class="format-box col-11 offset-1 content">
    <% if current_user %>
        <% @books.each do |item| %>
            <div class="boxy" >
<!--Change link path to where the book information can be found!!!            -->                
            <h3><%=link_to item.title, book_path(@books) %></h3>
            <%= image_tag item.cover_art, class:'img-fluid' %>
            <br />
            <h5>
                <%= item.author %>
                <br />-<%= item.description %>
            </h5>
            <br />
            </div>
            <br />
        <% end %>
    <% end %>
</div>
<br />
<%= link_to "New Book", new_book_path %>
<br />
<%= link_to "Home Page", root_path %>
