<h1 class="col-11 offset-1">Please add your new material item below:</h1>

<div class="col-10 offset-1">
<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :description %>
  <%= f.input :cover_art %>
  <%= f.button :submit %>
<% end %>
</div>
<br />
<%= link_to "Return to Main Page", root_path %>
<br />
<%= link_to "Return to My Library", books_path %>
<br />

<script>
  $('#book_title').on("keyup", function(event){
    var queryString = $(this).val();
    console.log("text changing", queryString);
    if(queryString.length > 4){
      $.get("/books/google_api_search/" + queryString, function(data){
        console.log(data);
        var bookTitles = data.items.map(function(book){
          return book.volumeInfo.title;
        })
        console.log(bookTitles);
      })
      
    }
  })
</script>