<div class="format-box col-11 offset-1 content">
  <% if current_user %>
    <%= @book.title %><br />
    <%= image_tag @book.cover_art, class: 'img-fluid' %>
    <h5>
      <br /> <br />
      <%= @book.author %>
      <br />-<%= @book.description %>
    </h5>
    <br />
  <% end %>
</div>
<br />
<%= link_to "New Book", new_book_path %>
<br />
<%= link_to "My Books", books_index_path %>
<br />
<%= link_to "Home Page", root_path %>