<h1 class="text-center">My Books</h1>
<br />

<div class="format-box col-11 offset-1">
    <div class="col-11">
    <% if current_user %>
        <% @materials.each do |item| %>
            <div class="boxy"
            <h3><%= item.title %></h3>
            <h5>
                <%= item.author %>
                <br />-<%= item.description %>
            </h5>
            <br />
            </div>
            <br />
        <% end %>
    <% end %>
    </div>
</div>
<br />
<%= link_to "New Book", new_material_path %>
<br />
<%= link_to "Home Page", root_path %>